<%- include('../partials/__head.ejs') %>
<body>
<div class="container-scroller">
    <%- include('../partials/__nav.ejs') %>
    <div class="main-panel">
        <%- include('../partials/__messages.ejs') %>
        <div class="content-wrapper">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Data Dosen</h4>
                                <a href="/dosen/create" class="btn btn-sm btn-success mb-3">Tambah Dosen</a>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama Dosen</th>
                                                <th>NIP</th>
                                                <th>Jenis Kelamin</th>
                                                <th>User</th>
                                                <th colspan="2">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i < data.length; i++){ %>
                                            <tr>
                                                <th scope="row"><%= (i+1) %></th>
                                                <td><%= data[i].nama_dosen %></td>
                                                <td><%= data[i].nip %></td>
                                                <td><%= data[i].jenis_kelamin %></td>
                                                <td><%= data[i].email %></td>
                                                <td>
                                                    <a href="/dosen/edit/<%= data[i].id_dosen %>" class="btn btn-sm btn-warning">Edit</a>
                                                    <a href="/dosen/delete/<%= data[i].id_dosen %>" class="btn btn-sm btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/__foot.ejs') %>
