<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="/stylesheets/detailmatkul.css">
    <title>Detail Matakuliah</title>
</head>
<body>
    <!-- SIDEBAR -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/Logo_PENS.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">SiKAP</span>
                    <span class="profession">Presensi Terpadu</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="search" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dosen/beranda">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dosen/matakuliah">
                            <i class='bx bx-book-bookmark icon' ></i>
                            <span class="text nav-text">Matakuliah</span>
                        </a>
                    </li>
                </ul>
                
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/dosen/jadwal-online">
                            <i class='bx bx-book-content icon' ></i>
                            <span class="text nav-text">Jadwal</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>


<!-- NAVBAR -->
    <section class="nav-bar">

        <div class="bar">
        
            <section class="head-bar">
                <div class="image-logo">

                    <div class="texts header-texts">
                        <span class="names">SiKAP</span>
                        <span class="professions">Sistem Kehadiran Perkuliahan</span>
                    </div>

                    <span class="logo"></span>
                        <img src="/images/logo_sikap.png" alt="logo">
                    </span>

                </div>
            </section>
            
        </div>
            
    </section>

<!-- dari sini bagian body atau isi -->

<!--BAGIAN DETAIL MATKUL-->
<section class="crt">
        
    <div class="kotak">

        <div class="profil">

            <div class="gmbr">
                <span>BDL</span>
            </div>

            <div class="ktr">
                <span class="bck"><%= jadwalDetail.nama_jurusan %> Kelas <%= jadwalDetail.nama_kelas %></span>
                <span class="nme"><%= jadwalDetail.nama_matakuliah %></span>
                <span class="nrp"><%= jadwalDetail.nama_dosen %></span>
            </div>

        </div>
    
    </div>
</section>


<!--BAGIAN DETAIL TUGAS-->
<section class="crt1">
    
    <div class="container">

        <div class="card-container">
            <article class="card-article">

                <div class="card-data">
                    <div class="ab">
                        <span>Presensi</span>
                    </div>

                    <div class="mg">
                        <span>Pemberitahuan :</span>
                    </div>
                        
                    <div class="ps">
                        <span>Dosen telah melakukan presensi</span>
                    </div>

                    <div class="wk">
                        <span>Waktu : <%= presensiSekarang?.tanggal || `` %> - <%= presensiSekarang?.waktu_buka || `` %></span>
                    </div>

                    <div class="ak">
                        <a style="cursor: pointer;" href="/dosen/kuliah/presensi/<%= jadwalDetail.id_jadwal %>">Akses Presensi</a>
                    </div>
                </div>
            </article>

            <article class="card-article">

                <div class="card-data">
                    <div class="ab">
                        <span>Materi</span>
                    </div>

                    <div class="mg">
                        <span>Ditambahkan Materi Baru : </span>
                    </div>
                        
                    <div class="ps">
                        <span><%= materiSekarang?.judul_materi || `` %></span>
                    </div>

                    <div class="wk">
                        <span>Diupload pada <%= materiSekarang?.hari || `` %>, <%= materiSekarang?.tanggal_upload || `` %> - <%= materiSekarang?.waktu_upload || `` %></span>
                    </div>

                    <div class="ak">
                        <a href="/dosen/kuliah/materi/<%= jadwalDetail.id_jadwal %>">Akses Materi</a>
                    </div>
                </div>
            </article>

            <article class="card-article">

                <div class="card-data">
                    <div class="ab">
                        <span>Tugas</span>
                    </div>

                    <div class="mg">
                        <span> Ditambahkan Tugas Baru :</span>
                    </div>
                        
                    <div class="ps">
                        <span><%= tugasSekarang?.judul_tugas || ``%></span>
                    </div>

                    <div class="wk">
                        <span>Deadline : <%= tugasSekarang?.hari_deadline || ``%>, <%= tugasSekarang?.tanggal_deadline || ``%> - <%= tugasSekarang?.waktu_deadline || ``%></span>
                    </div>

                    <div class="ak">
                        <a href="/dosen/kuliah/tugas/<%= jadwalDetail.id_jadwal %>">Akses Tugas</a>
                    </div>
                </div>
            </article>

        </div>

    </div>

</section>




    <script src="/javascripts/landing.js"></script>
</body>
</html>